/* CSS Document */
.title {
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: bolder;
}
body {
	font-family: "Arial","Microsoft YaHei","÷ו","ו",sans-serif;
}
#footer {
	width: 100%;
	height: 30px;
	margin-top: 50px;
}
.guodu {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.guodu:hover {
	color: #3278B4;
}